<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="javascript/app.js"></script>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>HIIIIIII!</h1>