{{>header}}
    <div>
        <h1>{{name}}</h1>
        <form>
            <input placeholder="Enter restaurant">
            <button>Start!</button>
            <p id="res"></p>
        </form>
    </div>
{{>footer}}