h1 {
  color: darksalmon;
}

body {
  color: gold;
  font-family: "Arial Narrow";
  border: 4px solid aquamarine;
  min-height: 50vh;
  min-width: 25vw;
}

img {
  width: 300px;
}

div {
  text-align: center;
}

header {
  background: blueviolet;
}